<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="IsochronDrafter.isochron" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <IsochronDrafter.isochron>
            <setting name="HostName" serializeAs="String">
                <value />
            </setting>
            <setting name="Alias" serializeAs="String">
                <value />
            </setting>
            <setting name="SetFile" serializeAs="String">
                <value />
            </setting>
            <setting name="ImageDirectory" serializeAs="String">
                <value />
            </setting>
            <setting name="Packs" serializeAs="String">
                <value>3</value>
            </setting>
            <setting name="CommonsPerPack" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="UncommonPerPack" serializeAs="String">
                <value>3</value>
            </setting>
            <setting name="RaresPerPack" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="MythicPercentage" serializeAs="String">
                <value>.125</value>
            </setting>
        </IsochronDrafter.isochron>
    </userSettings>
</configuration>